body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.logo img {
    margin-top: 20px;
}

.search-box {
    background-color: #eeeeee;
    padding: 10px;
    margin: 10px;
}

.search-box input {
    width: 300px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.box {
    padding: 10px;
    font-size: 13px;
}

.left {
    background-color: #7EE5DA;
    width: 300px;
}

.middle {
    background-color: #70CCC2;
    width: 200px;
}

.right {
    background-color: #62B3AA;
    width: 300px;
}

footer {
    margin-top: 15px;
    font-size: 12px;
}
